@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: 'Ailerons';
  src: url('/fonts/aileronsTypeFace.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h2{
  font-family: 'Ailerons', sans-serif;
}
@layer base {
  h1{
    @apply text-3xl font-semibold text-txtcolor ;
  }
  p{
    @apply text-txtcolor text-[18px] font-normal mx-auto;
    line-height: 1.5;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-delay: -0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    transition-delay: 0s !important;
    scroll-behavior: auto !important;
  }
}
