@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: 'Ailerons';
  src: url('../src/assets/aileronsTypeFace.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h2{
  font-family: 'Ailerons', sans-serif;
}
@layer base {
  h1{
    @apply text-3xl font-semibold text-txtcolor ;
  }
  p{
    @apply text-txtcolor text-[18px] font-normal mx-auto;
    line-height: 1.5;
  }
}
